# Python
__pycache__/
__readme/
_legacy/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.env
envset.md

# Jupyter
.ipynb_checkpoints/

# VSCode/Cursor
.vscode/

# OS0
.DS_Store
Thumbs.db

# Logs
*.log
log/

# Build
build/
dist/
*.egg-info/

# Data / weights (根据你的项目情况调整)
Bearing_UAV_90K/
Bearing_UAV_paper/
Bearing_UAV/
dataset_visual/
check_2traj
results/
datasets/
data/
*.pth
*.pt
*.ckpt
*.onnx
*.csv

# Large archives
*.zip
*.tar
*.tar.gz
*.7z
*.pt
*.ckpt
*.onnx

# Large archives
*.zip
*.tar
*.tar.gz
*.7z

#file
config/path_modify.py
config/path_modify_.py
results/history/dataset_history.json
nohup.out
CONTRIBUTING.md

# ignore all contents in loc2traj
loc2traj/*
# except：traj_wps_gcs
!loc2traj/traj_wps_gcs/
!loc2traj/traj_wps_gcs/**

#temp documents
_docs
scripts_explore/


*.pdf

./2026_CVPR_Beyond Matching to Tiles Bridging Unaligned Aerial and Satellite Views for.pdf